@model Core.Models.Quiz

@{
    ViewData["Title"] = "NieuweQuiz";
}

<h1>NieuweQuiz</h1>
<hr />
<div class="c-form">
    <form asp-action="NieuweQuiz" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="c-input">
            <div class="c-input--onderwerp">
                <label asp-for="Onderwerp" class="control-label">Onderwerp Quiz</label>
                <input asp-for="Onderwerp" class="form-control" />
            </div>
            @ViewBag.Name
            <div class="c-input--moeilijkheidsgraad">
                <label asp-for="MoeilijkheidsgraadId" class="control-label">Moeilijkheidsgraad</label>
                <select asp-for="MoeilijkheidsgraadId" class="form-control" asp-items="ViewBag.MoeilijkheidsgraadId"></select>
            </div>
            <div class="c-input--beschrijving">
                <label asp-for="Beschrijving" class="control-label">Beschrijving Quiz</label>
                <input asp-for="Beschrijving" class="form-control" />
            </div>
        </div>
        <hr class="c-streep" />

        <div class="js-vragen">

        </div>
        <div class="c-btn">
            <button class="c-btn--nieuwevraag" id="vraag-js" type="button">Voeg een nieuwe vraag toe</button>
        </div>

        <div class="c-btn">
            <input type="submit" value="Voeg de quiz toe" class="c-btn--self" />
        </div>
    </form>
</div>

<style>
    .c-input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .c-input--onderwerp {
        width: 250px;
    }

    .c-input--moeilijkheidsgraad {
        width: 160px;
    }

    .c-input--beschrijving {
        width: 600px;
    }

    .c-streep {
        margin: 60px 0 60px 0;
    }

    .c-btn {
        display:flex;
        justify-content:center;
        margin: 44px;
    }

    .c-btn--self{
        background-color: #DF691A;
        color: #2B3E50;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 1rem 1rem;
        font-size: 1rem;
        border-radius: 8px;
        font-weight: bold;
        transition: 0.3s;
    }

    .c-btn--self:hover{
        color: white;
        text-decoration: none;
    }

    .c-btn--nieuwevraag{
        color: #DF691A;
        border: none;
        background: none;
        text-decoration: underline;
    }
</style>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        var btnAddVraag = document.getElementById("vraag-js");
        var vraagCounter = 0;
        var vraagContainer = document.querySelector(".js-vragen");
        if (vraagContainer)
            vraagToevoegen();
        btnAddVraag.addEventListener("click", vraagToevoegen)
        function vraagToevoegen() {
            console.log("vraag toevoegen");
            var vraag = `

                    <div class="c-input">
                        <div class="c-input--onderwerp">
                            <label for="vraag-${vraagCounter}-titel" class="control-label">Onderwerp vraag</label>
                            <input name="Vragen[${vraagCounter}].Titel" id="vraag-${vraagCounter}-titel" class="form-control" placeholder="Onderwerp" />
                        </div>
                        <div class="c-input--beschrijving">
                            <label for="vraag-${vraagCounter}-beschrijving" class="control-label">Nieuwe vraag</label>
                            <input name="Vragen[${vraagCounter}].Beschrijving" id="vraag-${vraagCounter}-beschrijving" class="form-control" placeholder="Vraag" />
                        </div>
                        <div class="c-input--moeilijkheidsgraad">
                            <label for="vraag-${vraagCounter}-afbeeldingURL" class="control-label">Afbeelding</label>
                            <input name="Vragen[${vraagCounter}].AfbeeldingURL" id="vraag-${vraagCounter}-afbeeldingURL" class="form-control" placeholder="afbeelding" />
                        </div>
                    </div>
                    ${genereerAntwoord(0)}
                    ${genereerAntwoord(1)}
                    ${genereerAntwoord(2)}
                    ${genereerAntwoord(3)}

                    <hr class="c-streep" />`
            const vraagDiv = document.createElement("div");
            vraagDiv.innerHTML = vraag;
            vraagContainer.appendChild(vraagDiv);
            vraagCounter++;
        }
        function genereerAntwoord(antwoordCounter) {

            const antwoord = `

                            <div class="c-input">
                                <div class="c-input--onderwerp">
                                    <label for="vragen-${vraagCounter}-antwoord-${antwoordCounter}" class="control-label">Antwoord</label>
                                    <input name="Vragen[${vraagCounter}].Antwoorden[${antwoordCounter}].Omschrijving" id="vragen-${vraagCounter}-antwoord-${antwoordCounter}" class="form-control" placeholder="Antwoord" />
                                </div>
                                <div>
                                    <label for="vragen-${vraagCounter}-isCorrect-${antwoordCounter}" class="control-label">Juist?</label>
                                    <input type="checkbox" name="Vragen[${vraagCounter}].Antwoorden[${antwoordCounter}].IsCorrect" value="true" id="vragen-${vraagCounter}-isCorrect-${antwoordCounter}" class="form-control" />
                                </div>
                                <div class="c-input--beschrijving">
                                    <label for="vragen-${vraagCounter}-uitleg-${antwoordCounter}" class="control-label">Uitleg</label>
                                    <input name="Vragen[${vraagCounter}].Antwoorden[${antwoordCounter}].Uitleg" id="vragen-${vraagCounter}-uitleg-${antwoordCounter}" class="form-control" placeholder="Uitleg" />
                                </div>
                                <div class="c-input--moeilijkheidsgraad">
                                    <label for="vragen-${vraagCounter}-afbeeldingURL-${antwoordCounter}" class="control-label">Afbeelding</label>
                                    <input name="Vragen[${vraagCounter}].Antwoorden[${antwoordCounter}].AfbeeldingURL" id="vragen-${vraagCounter}-afbeeldingURL-${antwoordCounter}" class="form-control" placeholder="afbeelding" />
                                </div>
                            </div>
                    `
            return antwoord;
        }
    </script>
}
